<?xml version='1.0' encoding='utf-8'?>
<widget id="me.glitch.trackle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trackle</name>
    <description>Trackle™ is an engaging game where players test their knowledge by attempting to name all the stations within the TfL network. This includes the London Underground, the DLR, the Elizabeth Line, the London Overground, the Cable Car, and London Trams. </description>
    <author email="hello@trackle.serv000.net" href="https://trackle.glitch.me">
        SB Studios
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/appicon.png"/>
    <preference name="deployment-target" value="12.0" />

    <preference name="FadeSplashScreenDuration" value="500"/>
    <preference name="SplashScreenDelay" value="1200"/>
    <platform name="ios">
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash/splashscreen.xml"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF"/>
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="2200"/>
</widget>
