<?xml version='1.0' encoding='utf-8'?>
<widget id="me.glitch.trackle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trackle</name>
    <description>Trackle™ is an engaging game where players test their knowledge by attempting to name all the stations within the TfL network. This includes the London Underground, the DLR, the Elizabeth Line, the London Overground, the Cable Car, and London Trams. </description>
    <author email="hello@trackle.serv000.net" href="https://trackle.glitch.me">
        SB Studios
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/appicon.png"/>
</widget>
